body{
    font-family:'Times New Roman';
    background-color:white;
}
p{
    color: black;
    font-size: 2em;
    text-align: justify;
}
h2{
    font-size: 3em;
    color:burlywood;
}
.page{
    margin:0 auto ;
    padding: 0 1em;
}
@media screen and (min-width :52em){
    .page{max-width: 52em;}

}

.title{
    background: black; 
}
.a {
    margin: 0 0 1em;
    padding: 1em 0;
    font: 2em;
    font-weight: 400;
    text-align: center;
    color:white;
    text-transform: uppercase;
}
@media screen and (min-width:45em)
{
    .a {
       font-size: 2em;
    }
}
@media screen and (min-width:50em)
{
    .a {
       font: size 2em;
    }
}
.a a {
    color:aqua;
    text-decoration: dotted;
}
.a a:hover{
    text-decoration: wavy;
}
body{
    background: rgb(240, 230, 230);
    line-height: 1.2;
}
.a{
    color:white;
    
}
.models{
    background-color:rgb(230, 233, 238);
    margin-bottom: 2em;
    width: 300px;
    height: auto;
    padding-left: 3px;


}
.models a {
    color: black;
    text-decoration: none;
    box-shadow: 4px 5px 6px;
    border-radius: 5px;
}
.content1{
    padding:1em;
}
.content1 h2{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: bolder;
}
.content1 p{
     font-size: 15px; ;
}
img{
    width: 200px;
    height: 200px;
}
@media screen and (min-width:40em) {  
    .supermodels {
      margin-top: -1em;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

.models{
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50%-0.5em);
}
}
@media screen and (min-width:60em){
    .supermodels{
        margin-top: inherit;

    }
    .models{
        margin-bottom: 2em;
        display: flex;
        flex: 0 1 calc(33%-0.5em);
    }
}

    









